.blogpost {
  .nuxt-content {
    .headers-border {
      border-color: #00000022;
      border-bottom-style: solid;
      border-bottom-width: 2px;
    }
    .headers-margin {
      --header-height: 44px;
      padding-block-start: var(--header-height);
      margin-block-start: calc(-1 * var(--header-height) + 1.7rem);
    }
    @mixin headers-link-mark($mark) {
      content: $mark;
      display: block;
      inline-size: 2em;
      position: absolute;
      font-size: 1em;
      left: -1em;
      bottom: 0.05em;
    }

    @mixin headers-link($mark) {
      &:hover {
        a {
          &::before {
            @include headers-link-mark($mark);
          }
        }
      }
    }

    h1 {
      font-size: 1.7rem;
      @extend .headers-border;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      position: relative;
      @extend .headers-margin;
      @include headers-link('§');
    }

    .inline-code {
      font-family: var(--source-code-font);
      background-color: #ffffff90;
      border-radius: 4px;
      margin: 0 0.2em;
      padding: 0 0.2em;
    }

    p {
      font-size: 1.03rem;
      letter-spacing: 0.01em;
      code {
        @extend .inline-code;
      }
    }
    li {
      code {
        @extend .inline-code;
      }
    }

    .panel-shadow {
      box-shadow: 5px 5px 7px 2px #0000000a;
    }

    pre {
      margin: 0;
      @extend .panel-shadow;
      border-radius: 5px;
      border-style: solid;
      border-width: 2px;
      border-color: #00000022;
      padding-block-start: 2rem;
      padding-block-end: 2rem;
      code {
        font-family: var(--source-code-font);
      }
    }

    .nuxt-content-highlight {
      position: relative;
    }

    .filename {
      position: absolute;
      right: 7px;
      transform: translateY(7px);

      font-size: 0.85rem;
      padding-left: 5px;
      padding-right: 4px;
      border-radius: 4px;
      background-color: #0000000a;

      font-family: var(--source-code-font);
    }

    img {
      display: block;
      margin: 0 auto;
      max-inline-size: 100%;
      min-inline-size: 70%;
      border-radius: 4px;
      @extend .panel-shadow;
    }

    table {
      @extend .panel-shadow;
      inline-size: 100%;
      thead {
        border-radius: 40px;
        background-color: var(--strvdev-palette-4);
        color: #ffffffd9;
      }
      tbody {
        tr:nth-child(even) {
          background-color: #ccc;
        }

        td {
          padding: 0.5em;
        }
      }
    }
  }
}
