.blogpost {
  .nuxt-content {
    .headers-border {
      border-color: #00000022;
      border-bottom-style: solid;
      border-bottom-width: 2px;
    }
    .headers-margin {
      margin-block-start: 4rem;
    }
    .headers-link-hash {
      a {
        &::before {
          content: '#';
          position: absolute;
          left: -1em;
        }
      }
    }
    .headers-link {
      a {
      }
    }

    h1 {
      font-size: 1.7rem;
      @extend .headers-border;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      position: relative;
      @extend .headers-link-hash;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @extend .headers-margin;
    }

    .inline-code {
      font-family: var(--source-code-font);
      background-color: #ffffff90;
      border-radius: 4px;
      margin: 0 0.2em;
      padding: 0 0.2em;
    }

    p {
      font-size: 1.03rem;
      letter-spacing: 0.01em;
      code {
        @extend .inline-code;
      }
    }
    li {
      code {
        @extend .inline-code;
      }
    }

    pre {
      margin: 0;
      border-radius: 5px;
      border-style: solid;
      border-width: 2px;
      border-color: #00000022;
      code {
        font-family: var(--source-code-font);
      }
    }

    .nuxt-content-highlight {
      position: relative;
    }

    .filename {
      position: absolute;
      right: 7px;
      transform: translateY(7px);

      font-size: 0.85rem;
      padding-left: 5px;
      padding-right: 4px;
      border-radius: 4px;
      background-color: #0000000a;

      font-family: var(--source-code-font);
    }
  }
}
