html {
  font-family: 'M PLUS 1', -apple-system, 'BlinkMacSystemFont', 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif, 'Segoe UI Emoji';
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: break-word;
  word-break: break-word;
  color: var(--strvdev-text-color);
  background-color: var(--strvdev-bg-color);
  block-size: 100%;
  scroll-behavior: smooth;

}

body {
  overflow-x: hidden;
}

a {
  color: var(--strvdev-link-color);
  text-decoration: {
    line: none;
    thickness: 0.07em;
  }

  &:hover {
    text-decoration: {
      line: underline;
      style: dashed;
    }
  }
}

::-webkit-scrollbar {
  background: #c9c9c9;
  inline-size: 7.5px;
  block-size: 7.5px;
}

::-webkit-scrollbar-thumb {
  background: #808494;
  border-radius: 5px;
}

::selection {
  text-shadow: none;
  background: #a3c4fc;
}

[v-cloak] {
  opacity: 0;
}
