html {
  font-family: -apple-system, 'BlinkMacSystemFont', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans',
    Meiryo, sans-serif, 'Segoe UI Emoji';
  font-size: 15px;
  font-weight: 500;
  word-wrap: break-word;
  word-break: break-word;
  color: var(--strvdev-text-color);
  background-color: var(--strvdev-bg-color);
  block-size: 100%;
}

body {
  overflow-x: hidden;
}

a {
  color: var(--strvdev-link-color);
  text-decoration: {
    line: none;
    thickness: 0.07em;
  }

  &:hover {
    text-decoration: {
      line: underline;
      style: dashed;
    }
  }
}

.rounded-font {
  font-weight: 500;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

::-webkit-scrollbar {
  background: #c9c9c9;
  inline-size: 7.5px;
  block-size: 7.5px;
}

::-webkit-scrollbar-thumb {
  background: #808494;
  border-radius: 5px;
}

::selection {
  text-shadow: none;
  background: #b3d4fc;
}
