:root {
  --source-code-font: 'Source Code Pro';
  --strvdev-palette-1: #d9dbd9;
  --strvdev-palette-2: #7ac292;
  --strvdev-palette-3: #505464;
  --strvdev-palette-4: #273134;
  --strvdev-palette-5: #4174a5;
  --strvdev-palette-6: #a61010;
  --strvdev-blogpost-code: #ffffff90;
  --strvdev-blogpost-tag: #d1d3d1;

  --strvdev-bg-color: var(--strvdev-palette-1);
  --strvdev-text-color: var(--strvdev-palette-4);
  --strvdev-link-color: var(--strvdev-palette-5);

  --default-margin-block-start: 80px;
}
